In [1]:
x = int(1) # x will be 1
y = int(2.8) # x will be 2
z = int("3") # z will be 3
print(x)
print(y)
print(z)

1
2
3

In [2]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print(x)
print(y)
print(z)
print(x)

1.0
2.8
3.0
1.0

In [ ]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

In [3]:
print("Hello")
print('Hello')

Hello
Hello

In [4]:
a = "Hello"
print(a)

Hello

In [5]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [6]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [17]:
a = "Hello, World!"
print(a[-2])

d

In [18]:
for x in a:
    print(x)

H
e
l
l
o
,

W
o
r
l
d
!

In [19]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [20]:
a = "Hello, World!"
print(len(a))

13

In [23]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [24]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [25]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [26]:
b = "Hello, World!"
print(b[2:5])

llo

In [29]:
b = "Hello, World!"
print(b[:5])

Hello

In [30]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [31]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [32]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [33]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [34]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [35]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [39]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [41]:
a = "Hello "
b = "World"
c = a + b
print(c)

Hello World

In [42]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [43]:
a = "Hello"
b = "World"
d = " "
c = a + d + b
print(c)

Hello World

In [47]:
age = 36
txt = "My name is John, I am " + str(age)
print(txt)

My name is John, I am 36

In [50]:
age = 36
sage ="35"
txt = "My name is John, and I am {}{}"
print(txt.format(sage,age))

My name is John, and I am 3536

In [51]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [52]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [55]:
txt = 'We are the so-called "Vikings" from the north.'
print(txt)

We are the so-called "Vikings" from the north.

In [56]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [57]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [59]:
a = 200
b = 205

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is greater than a

In [60]:
print(bool("Hello"))
print(bool(15))

True
True

In [61]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [63]:
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

In [66]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))

print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

In [67]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [68]:
def myFunction() :
  return True

print(myFunction())

True

In [70]:
def myFunction() :
  return False

if myFunction():
  print("YES!")
else:
  print("NO!")

NO!

In [71]:
x = 200
print(isinstance(x, int))

True

In [72]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [73]:
thislist = ["apple", "banana", "cherry"]
print(type(thislist))

<class 'list'>

In [79]:
print(thislist[-3])

apple

In [82]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist[-2])

apple

In [83]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [84]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [92]:
list1 = ["abc", 34, True, 40, "male"]
print(type(list1[1]))

<class 'int'>

In [93]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [95]:
a = list("abcdefghijk")
print(a)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [96]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [97]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [99]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(len(thislist[2:5]))

3

In [100]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [101]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [102]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [105]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list